<div class="modal-overlay">
    <div class="modal-container" role="dialog" aria-modal="true">
        <div class="modal-header">
            <h2>{{ typeRu() }} - {{ overview().ServiceName }}</h2>
            <button class="close-btn" (click)="onCancel()" aria-label="Закрыть">×</button>
        </div>

        <div class="modal-body">
            <div class="form-group">
                <div class="display-field">
                    <label>Название</label>
                    <div class="display-value">
                        <span class="display-text">{{ overview().ServiceName }}</span>
                        <copy-button [value]="overview().ServiceName" />
                    </div>
                </div>
                <div class="display-field">
                    <label>Ссылка на ресурс</label>
                    <div class="display-value">
                        <span class="display-text">{{ overview().Url }}</span>
                        <copy-button [value]="overview().Url" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                @switch (type()) {
                    @case (VaultTypeEnum.Password) {
                        <standard-password-view [data]="decryptedDetails()!"></standard-password-view>
                    }
                    @case (VaultTypeEnum.RecoveryKeys) {
                        <recovery-keys-view [data]="decryptedDetails()!"></recovery-keys-view>
                    }
                    @case (VaultTypeEnum.CreditCard) {
                        <credit-card-view [data]="decryptedDetails()!"></credit-card-view>
                    }
                    @case (VaultTypeEnum.Server) {
                        <server-view [data]="decryptedDetails()!"></server-view>
                    }
                    @case (VaultTypeEnum.ApiKey) {
                        <api-key-view [data]="decryptedDetails()!"></api-key-view>
                    }
                    @case (VaultTypeEnum.ConnectionString) {
                        <connection-string-view [data]="decryptedDetails()!"></connection-string-view>
                    }
                     @case (VaultTypeEnum.AsymmetricKey) {
                        <asymmetric-key-view [data]="decryptedDetails()!"></asymmetric-key-view>
                    }
                    @default {
                        <div>Выберите категорию</div>
                    }
                }
            </div>

            <div class="form-group">
                <div class="display-field">
                    <label>Описание</label>
                    <div class="display-value display-value--multiline">{{ overview().Note }}</div>
                </div>
            </div>
        </div>
    </div>
</div>